* {
  margin: 0;
}
body {
  /* background: linear-gradient(to bottom red, blue); */
  background-image: linear-gradient(45deg, lightskyblue, lightcoral);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.logo {
  border: solid black;
  width: 20dvw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  font-size: 48px;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

.score {
  /* border : solid blue; */
  height: 10dvh;
  display: flex;
  justify-content: space-around;
}
.leftScore,
.rightScore {
  /* border: solid lime; */
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 400;
  font-family: Impact;
}

.mainScreen {
  border: solid red;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.playerMove {
  background-color: blueviolet;
}

.playerOne {
  border: solid green;
  display: flex;
}
.playerTwo {
  border: solid purple;
  display: flex;
}

.grid {
  border: solid brown;
  width: 30%;
}
.gridBlock,
.gridBlockC2 {
  border: thick;
}
.grid14,
.grid14C2 {
  position: absolute;
  transition: all 100ms;
}

.createdBlock {
  background-color: whitesmoke;
  transition: all 100ms;
}

.createdBlockTwo {
  background-color: red;
  transition: all 100ms;
}

.players {
  margin-top: 2rem;
  height: 10dvh;
  display: flex;
  justify-content: space-around;
}
.player1,
.player2 {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-family: Arial;
}

.location {
  border: solid blue;
  position: absolute;
  transform: translate(-50%, -50%);
}

.startBtn,
.resetBtn {
  height: 5dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start,
.reset {
  border-radius: 8px;
  width: 3rem;
}
